{{ define "main" }}

<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">

      <h1 class="article-title">{{ .Title | markdownify }}</h1>

      <div class="article-content">
      {{ .Content }}
      </div>
      <div>
      <a href="{{.Site.Params.ghrepo}}edit/master/content/{{.File.Path}}"
      class="f6 ph3 pv1 br2 dib  tc ttu mv3 bg-primary-color white hover-bg-green link">
      Improve this page</a>
      </div>


      </div>
      <div class="column25">
        {{ if ge (len .TableOfContents) 50 }}
        <div class="section hideOnMobile">
          <div class="sectionTitle">Contents</div>
          {{ .TableOfContents }}
        </div>
        {{ end }}
     </div>

    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}
