{{ define "main" }}


<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins start">
        
         <div class="column">
        <div class="article-title">{{ .Params.title }}</div>
        <div class="photo">
            <img class="hero" src="./about.jpg" height="500px" alt="Christopher Hoover">
        </div>
        <div class="article-content">
        {{ .Content }}
        </div>
      </div>
    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->
{{ end }}
